[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt = no
[ req_distinguished_name ]
countryName                 = US
stateOrProvinceName         = ST
localityName               = Atlanta
organizationName           = versprite
commonName                 = es-hive
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = versprite-es-hive
DNS.2   = es-hive
DNS.3   = versprite
