[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt = no
[ req_distinguished_name ]
countryName                 = US
stateOrProvinceName         = ST
localityName               = city
organizationName           = eminent
commonName                 = elasticsearch-node5
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = elasticsearch-node4
DNS.2   = versprite
DNS.3   = eminent
